<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.miki.mikiso.banshu">

    <application
        android:name=".RealmMemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Banshu">
        <activity android:name=".scheduleMaturiList"
            android:screenOrientation="portrait"/>
        <activity android:name=".Schedule"
            android:screenOrientation="portrait"/>
        <activity android:name=".Usuki"
            android:screenOrientation="portrait" />
        <activity android:name=".Arakawa"
            android:screenOrientation="portrait"/>
        <activity android:name=".Oosio"
            android:screenOrientation="portrait"/>
        <activity android:name=".Matubara"
            android:screenOrientation="portrait" />
        <activity android:name=".Hamanomiya"
            android:screenOrientation="portrait"/>
        <activity android:name=".Ebisu"
            android:screenOrientation="portrait"/>
        <activity android:name=".calender2"
            android:screenOrientation="portrait" />
        <activity android:name=".nameCheck"
            android:screenOrientation="portrait"/>
        <activity android:name=".shrineName"
            android:screenOrientation="portrait"/>
        <activity android:name=".BanshuCalender"
            android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>