<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.miki.mikiso.banshu">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Banshu">
        <activity android:name=".Schedule"></activity>
        <activity android:name=".Usuki" />
        <activity android:name=".Arakawa" />
        <activity android:name=".Oosio" />
        <activity android:name=".Matubara" />
        <activity android:name=".Hamanomiya" />
        <activity android:name=".Ebisu" />
        <activity android:name=".calender2" />
        <activity android:name=".nameCheck" />
        <activity android:name=".shrineName" />
        <activity android:name=".BanshuCalender" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>